
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.first_screen,
.last_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_screen input[type="text"],
.first_screen button {
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#startButton {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#startButton:hover {
    background-color: #218838;
}

#quiz {
    display: none;
}

.question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #0056b3;
}

.timer {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #ff0000;
}

.last_screen {
    display: none;
}

#result {
    font-size: 1.2em;
    margin: 20px 0;
}
